@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
	--color-primary: #556B2F;
	--color-secondary: #D1AA24;
	--color-tertiary: #251E24;
	--color-dark: #352C27;
	--color-light: #fff;
	--font-primary: "PT Sans";
	--font-secondary: "Lato";
}

body {
	background: var(--color-light);
	font-family: var(--font-secondary);
	text-align: center;
	color: var(--color-dark);
	margin: 0 auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

a {
    text-decoration: none;
    color: #fff;
}

nav {
	/* Styling */

	/* Mechanics */
	display: flex;
	flex-direction: row;
	justify-items: flex-end;
	
	align-items: center;
	margin-left: auto;
}

nav a {
	/* Styling */
	color: var(--color-primary);
	font-weight: bold;
	text-decoration: none;
	padding: .3em 1em;
	border-radius: .25em;

	/* Mechanics */
	transition: flex-grow 0.5s ease;
	flex-grow: 1;
}

nav a:hover {
    /* Styling */
	background: var(--color-tertiary);
	color: var(--color-light);
	text-decoration: none;
	font-weight: bold;

	/* Mechanics */
	transition: flex-grow 0.5s ease;
	flex-grow: 3;
}

main {
	display: block;
}